@font-face {
    font-family: 'orangejuice2.0'; src: url('../fonts/orangejuice2.0.ttf');
}

body {
	font-family: 'NanumBarunGothic';
	color:white;
}
.post {
	font-family: 'Siingwana';
	color: black;
	margin-top: 10%;
}

.blogtitle {
	margin-left: 10%;
}

.detail{
	color: #3B2;
}

.comment {
    margin: 20px 0px 20px 20px;
}

@font-face {
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:700;
  	src: url('../fonts/NanumBGothic.eot');
  	src: local('../fonts/NanumGothic.eot');
  	src: url('../fonts/NanumGothic.woff') format('woff');
  	src: local('../fonts/NanumGothic.woff') format('woff');
}

@font-face {
	font-family:'Siingwana';
	font-style:normal;
	font-weight:700;
  	src: url('../fonts/DXPnM-KSCpc-EUC-H.woff.ttf') format('truetype');
  	src: local('../fonts/DXPnM-KSCpc-EUC-H.ttf') format('truetype');
  	src: url('../fonts/DXPnM-KSCpc-EUC-H.woff') format('woff');
  	src: local('../fonts/DXPnM-KSCpc-EUC-H.woff') format('woff');
}

head,body {
    margin-top: 20px;s
	background-position: center;
    background-position: top;
    background-image: url("../images/space.jpg");
	width: auto;
	background-size: contain;
}

h1>a {
    color: white;
    font-size: 200%;
    text-align: center;
}

.alcheader{
    padding-bottom:9px;margin:40px 0 20px;border-bottom:4px solid #eee;
	font-family: 'orangejuice2.0';
}

input,textarea{
	color:black;
}

h4{
	height: 1000px;
	width: 1400px;
	background-image:url("../images/kermit_frogs.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 6%;
}